* {
  box-sizing: border-box;
}
.App {
  padding-left: 40px;
}

ul {
  list-style-type: none;
}

.todo-item {
  width: 166px;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  cursor: pointer;
}